{% extends "user/form_layout.html" %}

{% block title%} New User Registration{% endblock%}
{% block pagetitle %}
<h1 class="h3 mb-3 fw-normal">Memba App <br>New User Registration</h1>
{% endblock%}
{% block pagecontent %} 
 
<form action="{{ url_for('register')}}" method="post">
  <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
  <div class="form-group mb-3">
    <select name="partyid" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected value="">Open this select menu</option>
      <!-- <Party> -->
      {% for p in partyname %}
      <option value="{{ p.party_id}}">{{ p.party_name}}</option>
      {% endfor %}
    </select>    
  </div>     
    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" placeholder="name@example.com" id="username">
      <label for="floatingInput">Email address</label>
      <small id="small"></small>
    </div>   
    <div class="form-floating">
      <input type="password" class="form-control" name="pwd" placeholder="Password" id="pwd">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <p>Already have account? <a href="{{ url_for('user_login')}}">:Login</a></p>
    </div>
     
    <button class="w-100 btn btn-lg btn-success" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>

  <script src="{{url_for('static', filename='js/jq.js')}}"></script>
  <script>
    $(document).ready(function(){
      $("#username").change(function(){
        var input_email = $(this).val()
        var csrf = "{{csrf_token()}}"
        var data2send = {"email":input_email,"csrf_token":csrf}
  
        $.ajax({
          url:"/check_username",
          type:"POST",
          data:data2send,
          dataType:'json',
          success:function(resp){
            $("#small").html(resp['feedback'])
            $("#small").removeClass('alert-danger alert-success')
            if(resp['status']==1){
              $('#small').addClass('alert alert-success')
            }else{
              $('#small').addClass('alert alert-danger')
            }
          },
          error:function(e){
            console.log(e)
          }
        })
      })
  
  
  
    })
  </script>
{% endblock %}



